html
	head
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		script(src="/javascripts/masonry.min.js")
		link(href='/stylesheets/data.filter.raw.css', rel='stylesheet')
	body
		h1 hello
		input(style='width:100%;height:40px;' +
		'font-size:20px;line-height:40px;padding:12px')

		.grid
			.cell
				.image-group
					.title HELLO
					.tags
						.tag #APP
						.tag #CSS
						.tag #HTML
						.tag #APP
						.tag #CSS
				.text-group
					.desc 설명
					.date 날짜



	script(src='/javascripts/data.viewer.data.js')
	script(src='/javascripts/data.filter.raw.js')